body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/* heder */
.heder {
}

.heder-navigation {
}

.heder-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-italic {
  font-style: italic;
}

.heder-logo-img {
}

.heder-navigation-list {
}

.heder-navigation-item {
}

.heder-menu-link {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.heder-menu-link:hover,
.heder-menu-link:focus {
  color: #fd9222;
}

.adress-list {
}

.adress-item {
}

.adress-link {
}

/*HERO*/
.hero {
  background-color: rgba(17, 17, 17, 0.6);
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03eb;
}
.hero-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background-color: #fd9222;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-btn-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #fff;
}

.hero-btn-link:focus,
.hero-btn-link:hover {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-btn-down {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.hero-btn-down:focus,
.hero-btn-down:hover {
  color: #fd9222;
}

/* features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  background-color: #1e1823;
}
.features-list {
}

.features-item {
}

.features-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.features-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* taste */

.taste {
}

.taste-title {
}

.taste-list {
}

.taste-img {
}

.taste-list-item {
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02;
  text-transform: uppercase;
}

/*    made    */

.made {
}

.made-title {
}

.made-img {
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02;
}

/* PRODUCTS */
.products {
}
.products-title {
}

.products-list {
}

.products-list-item {
}

.products-img {
}
.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/*   top-sellers   */

.top-sellers {
}

.top-sellers-list {
}

.top-sellers-item {
}

.top-sellers-img {
}

.top-sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*  loved */

.loved {
}

.mane-list {
}

.name-item {
}

.name-img {
}

.name {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.name-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.love-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.love-btn:hover,
.love-btn:focus {
  color: #fff;
  background-color: #fd9222;
}

/* FOOTER */
.footer {
  background-color: #1e1823;
}

.footer-text {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-adress {
  font-style: normal;
}

.footer-adress-list {
}

.footer-adress-item {
}

.fotter-adress-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.fotter-adress-link:hover,
.fotter-adress-link:focus {
  color: #fd9222;
}

.footer-navigation {
}

.footer-navigation-list {
}

.footer-navigation-item {
}

.footer-navigation-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  color: #fd9222;
}
